body {
	font-family: arial;
}
h1 {
	color : blue;
	border-bottom-style: solid;
	border-color: black;
}
section {
	background-color: maroon;
	border-color: black;
	border-style: solid;
	height: 100%;
	overflow: auto;
	clear: right;
}
.cell {
	padding: 5px 5px 5px 5px;
	float: left;
	box-sizing: border-box;
}
.title {
	font-size: 150%;
	font-weight: bold;
	color: black;
	border-color: black;
	border-bottom-style: solid;
	border-left-style: solid;
	padding: 3px 3px 3px 3px;
	float:right;
	width: 250px;
	text-align: center;
}
.lyric {
	color: tan;
	padding: 10px 10px 10px 10px;
	clear: right;
}
#title1 {
	background-color: limegreen;
}
#title2 {
	background-color: aquamarine;
}
#title3 {
	background-color: beige;
}

@media (min-width: 992px) {

	.part1 {
		width: 33.33%;
		aspect-ratio: 3/2;
	}
	.part2 {
		width: 33.33%;
		aspect-ratio: 3/2;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.part1 {
		width: 50%;
		aspect-ratio: 3/2;
	}
	.part2 {
		aspect-ratio: 3/1;
		width: 100%;
	}
}

@media (max-width: 767px) {

	.part1 {
		width: 100%;
		aspect-ratio: 3/1;
	}
	.part2 {
		width: 100%;
		aspect-ratio: 3/1;
	}
}